extends ../base
block title
	| IP traceroute
block variables
	- var pageClass = 'container-left'
block main
	.main-wrap
		aside.sidebar
			.header__logo
				a(href="/" class="logo" title="Логотип")
					img(src=require("../../img/logo-green.png"))
					| PROXYSELLER
			.sidebar-list
				.sidebar-list-item
					.sidebar-list-item-dropdown.active
						.sidebar-list-dropdown-img.active
							img(src=require("../../img/sidebar-list-dropdown-services.png"))
						span.active Услуги
						i.fa.fa-angle-down.active
					ul.sidebar-list-item-dropdown-content.active
						li
							a(href="#") Бесплатные прокси
						li
							a(href="#") Прокси IPv4
						li
							a(href="#") Прокси IPv6
						li
							a(href="#") Shared прокси
						li
							a(href="#") Мобильные прокси
				.sidebar-list-item
					.sidebar-list-item-dropdown.active
						.sidebar-list-dropdown-img.active
							img(src=require("../../img/sidebar-list-dropdown-tool.png"))
						span.active Инструменты
						i.fa.fa-angle-down.active
					ul.sidebar-list-item-dropdown-content.active
						li
							a(href="#") Прокси-чекер
						li
							a(href="#") Сканер портов
						li
							a(href="#") Пинг IP
						li
							a(href="#") Мой IP
		main.main-content
			// Секция main
			section.main.proxy-checker
				.container
					.main__title
						h1 Трассировка IP адреса или сайта, free IP traceroute
					.proxy-checker__list
						p
							| Трассировка IP адреса или сайта (IP traceroute) предназначена для получения списка узлов сети Internet, через которые проходят пакеты с данными до сервера запрашиваемого Вами Хоста.
					form.row.port-scanner.flex
						.col-lg-4
							.dig-dns-wrap.IP-traceroute-wrap
								.port-scanner__enter-the-IP-address-or-domain
									label(for="enter-the-IP-NS-or-domain") Введите корректный IP адрес (0.0.0.0) или имя хоста (домен.ру)
									input(id="enter-the-IP-NS-or-domain")
									label(for="enter-the-IP-tracerout") NS сервер домена
									input(id="enter-the-IP-tracerout" class="mb5")
									.NS-or-domain-info
										a.NS-server(href="#") Вставить мой IP-адрес
									label Показать маршрут пакета по странам
									select(class="select2 select2-modal")
										option(selected) Да
										option Нет
								.port-scanner__btn
									.btn-info Трассировка может занять до нескольких минут
									button(class="main_btn2" type="submit") Трассировать IP
						.col-lg-8
							.port-scanner__test-results
								p.title
									| Результаты проверки:
								.port-scanner__test-results-wrap.dig-dns-block
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
			// Секция security-and-anonymity
			section.security-and-anonymity
				.container
					h2 VPN — ваша безопасность и анонимность в интернете
				.security-and-anonymity__btn
					button(type="button" class="main_btn3") Подробнее
			// Секция why-our-proxies-are-better
			section.why-our-proxies-are-better.proxy-checker
				.container
					h2 Подробнее о IP traceroute.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.