//Модальное окно
#popup.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title.
			Подписаться на обновление списка
		p.modal-paragraph.
			Укажите, пожалуйста, Ваш рабочий email адрес для того, что бы мы во-
			время уведомляли Вас о обновлении нашего списка бесплатных IP адресов.
		div
			.input_wrap
				i.fa.fa-check
				input(name="email" type="email" placeholder="Ваш E-mail")
		p
			| Присылать уведомления:
		.select2-wrap
			select.select2.select2-modal(name="modal-select-notification")
				option После каждого уведомления (каждые 30 минут)
				option После каждого уведомления (каждый час)
				option После каждого уведомления (каждые 2 часа)
				option После каждого уведомления (каждые 3 часа)
				option После каждого уведомления (каждые 4 часа)
		p
			| Интересующая Вас страна:
		.select2-wrap
			select.select2.select2-country(name="modal-select-country")
				option
				option Algeria
				option Ukraine
				option Japan
				option United Kingdom
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Отправить")
	.overlay
// Модальное окно success
#popup-success.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Заявка отправлена
// вариант меню на мобильном
#popup3.mfp-hide.white-popup.mfp-with-anim.popup
	nav.header_nav_mobile
		ul
			li
				a(href='#') Примеры кухонь
			li
				a(href='#') Преимущества
			li
				a(href='#') Отзывы
			li
				a(href='tel:73842596168') +7 3842 59 61 68
			li
				a(href='#') Примеры кухонь
			li
				a(href='#') Преимущества
			li
				a(href='#') Отзывы
			li
				a(href='#') Примеры кухонь
			li
				a(href='#') Преимущества


