//Модальное окно
#popup.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title.
			Подписаться на обновление списка
		p.modal-paragraph.
			Укажите, пожалуйста, Ваш рабочий email адрес для того, что бы мы во-
			время уведомляли Вас о обновлении нашего списка бесплатных IP адресов.
		div
			.input_wrap
				i.fa.fa-check
				input(name="email" type="email" placeholder="Ваш E-mail")
		p
			| Присылать уведомления:
		.select2-wrap
			select.select2.select2-modal(name="modal-select-notification")
				option После каждого уведомления (каждые 30 минут)
				option После каждого уведомления (каждый час)
				option После каждого уведомления (каждые 2 часа)
				option После каждого уведомления (каждые 3 часа)
				option После каждого уведомления (каждые 4 часа)
		p
			| Интересующая Вас страна:
		.select2-wrap
			select.select2.select2-country(name="modal-select-country")
				option
				option Algeria
				option Ukraine
				option Japan
				option United Kingdom
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Отправить")
	.overlay
#popup2.mfp-hide.white-popup.mfp-with-anim.popup2
	p.success_mail Спасибо! Ваша заявка уже обрабатывается менеджером и в ближайшее время он с вами свяжется.
	form
		p.modal-title.
			Заголовок
		p.modal-paragraph.
			Укажите, пожалуйста, Ваш рабочий email адрес для того, что бы мы во-
			время уведомляли Вас о обновлении нашего списка бесплатных IP адресов.
		div
			.input_wrap
				i.fa.fa-check
				input(name="email" type="email" placeholder="Ваш E-mail")
		.select2-wrap
			select.select2.select2-lease(name="modal-select-notification")
				option
				option 1 месяц
				option 2 месяца
				option 3 месяца
				option 6 месяцев
				option 12 месяцев
		.select2-wrap.select2-wrap__purse
			select.select2.select2-purse(name="modal-select-purse")
				option
				option(data-purse="yandex-money") yandex-money
				option(data-purse="yandex-money") web-money
				option(data-purse="yandex-money") qiwi
		input(type="hidden" name="form_name" value="")
		input(type="hidden" name="form_type" value="modal")
		input(type="submit" value="Оплатить")
	.overlay
// Модальное окно success
#popup-success.mfp-hide.white-popup.mfp-with-anim.popup
	p.success_mail Заявка отправлена



