extends ../base
block title
	| IP ping
block variables
	- var pageClass = 'container-left'
block main
	.main-wrap
		aside.sidebar
			.header__logo
				a(href="/" class="logo" title="Логотип")
					img(src=require("../../img/logo-green.png"))
					| PROXYSELLER
			.sidebar-list
				.sidebar-list-item
					.sidebar-list-item-dropdown.active
						.sidebar-list-dropdown-img.active
							img(src=require("../../img/sidebar-list-dropdown-services.png"))
						span.active Услуги
						i.fa.fa-angle-down.active
					ul.sidebar-list-item-dropdown-content.active
						li
							a(href="#") Бесплатные прокси
						li
							a(href="#") Прокси IPv4
						li
							a(href="#") Прокси IPv6
						li
							a(href="#") Shared прокси
						li
							a(href="#") Мобильные прокси
				.sidebar-list-item
					.sidebar-list-item-dropdown.active
						.sidebar-list-dropdown-img.active
							img(src=require("../../img/sidebar-list-dropdown-tool.png"))
						span.active Инструменты
						i.fa.fa-angle-down.active
					ul.sidebar-list-item-dropdown-content.active
						li
							a(href="#") Прокси-чекер
						li
							a(href="#") Сканер портов
						li
							a(href="#") Пинг IP
						li
							a(href="#") Мой IP
		main.main-content
			// Секция main
			section.main.proxy-checker
				.container
					.main__title
						h1 IP ping, проверить пинг айпи адреса или сайта, ping IP
					.proxy-checker__list
						p
							| Ping — утилита для проверки соединений в сетях на основе TCP/IP, а также обиходное наименование самого запроса. Утилита отправляет запросы (ICMP Echo-Request) протокола ICMP указанному узлу сети и фиксирует поступающие ответы (ICMP Echo-Reply). Время между отправкой запроса
							| и получением ответа (RTT, от англ. Round Trip Time) позволяет определять двусторонние задержки (RTT) по маршруту и частоту потери пакетов,
							| то есть косвенно определять загруженность на каналах передачи данных и промежуточных устройствах.
					form.row.port-scanner.flex
						.col-lg-4
							.port-scanner__enter-the-IP-address-or-domain
								label(for="enter-the-IP-address-or-domain") Введите корректный IP адрес (0.0.0.0) или имя хоста (host.com)
								input(id="enter-the-IP-address-or-domain")
								a(href="#") Вставить мой IP-адрес
								label Пинговать с сервера
								select(class="select2 select2-modal")
									option(selected) SPYS.ONE (Франция)
									option SPYS.ONE (Англия)
								label.mt25 Тестовых пинг пакетов
								select(class="select2 select2-modal")
									option(selected) 1
									option 2
									option 3
						.col-lg-8
							.port-scanner__test-results
								p.title
									| Результаты проверки:
								.port-scanner__test-results-wrap.IP-ping-wrap
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
									p
										| Not shown: 999 filtered ports
									p
										| PORT     STATE SERVICE
									p
										| 3389/tcp open  ms-term-serv
									p
										| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds

					.row.port-scanner.flex.mb10
						.col-lg-12
							.port-scanner__btn
								button(class="main_btn2" type="submit") Пинг IP
								p.info
									| * Если результат «Host seems down», значит фаерволл или роутер проверяемого и IP блокирует пинги.
			// Секция security-and-anonymity
			section.security-and-anonymity
				.container
					h2 VPN — ваша безопасность и анонимность в интернете
				.security-and-anonymity__btn
					button(type="button" class="main_btn3") Подробнее
			// Секция why-our-proxies-are-better
			section.why-our-proxies-are-better.proxy-checker
				.container
					h2 Подробнее о IP ping.
					p
						| В разговорной речи пингом называют также время, затраченное на передачу пакета информации в компьютерных сетях от клиента к серверу и обратно от сервера к клиенту.
					p
						| Полное отсутствие ICMP-ответов может также означать, что удалённый узел (или какой-либо из промежуточных маршрутизаторов) блокирует ICMP Echo-Reply или игнорирует ICMP Echo-Request.
					p
						| Программа ping является одним из основных диагностических средств в сетях TCP/IP и входит в поставку всех современных сетевых операционных систем. Функциональность ping также реализована в некоторых встроенных ОС маршрутизаторах, доступ к результатам выполнения ping для таких устройств по протоколу SNMP.