/*==========  Desktop First Method  ==========*/
@media only screen and (min-width : 1199px) and (max-height : 685px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: #000000
@media only screen and (max-width : 1199px) and (max-height : 666px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: #000000
// Large devices (desktops, less than 1200px)
@media only screen and (max-width : 1199px)
	/**/
	// для фиксированного сайта
	// body
	// 	width: 1200px
	.header__modal
		margin-top: 20px
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.modal_form_input_wrap
				display: inline-block
	.footer
		nav
			margin-right: auto
	.header__logo
		width: 165px
		img
			max-width: 100%
			height: auto
	.header__nav
		ul
			li
				a
					font-size: 14px
					margin-right: 20px
	.main__proxy-list
		flex-wrap wrap
		dl.last
			margin-left: inherit
	.main__btn-wrap
		button
			min-width 100%
		&.personal
			button
				min-width: 90%
	.main__filter-divider
		width: 100%
	.main__filter-type
		align-items: left
	.main__table-wrap
		&.proxy-checker-table
			overflow: auto
			table
				width: 1170px
	.hide-ip-table__scroll-table
		&.proxy-checker-table
			display: block
			margin-bottom: 10px
			i
				margin-left: 10px
				color $main_color
				animation arrow-right 0.5s infinite alternate
	.port-scanner
		button[type=submit]
			min-width 289px
// Medium devices (tablets, less than 992px)
@media only screen and (max-width : 991px)
	/**/
	.header
		height: 100px
	.header__nav
		display: none
	.header__logo
		display: block
	.header__authorization
		margin-left: auto
	nav[canvas]
		display: block
	.info-blocks__item-txt-block
		margin-bottom: 20px
	.footer
		.select2-wrap
			width: 270px
	.main__update-proxy-list
		margin-bottom: 30px
	.proxy-checker__enter-the-proxy-list
		textarea
			margin-bottom: 20px
	.proxy-checker__test-results-items
		button
			min-width: 270px
	.proxy-checker__test-results-title
		margin-bottom: 15px
	.proxy-checker__test-results-item
		margin-bottom: 10px
	.proxy-checker__download-scan-results-title
		margin-bottom: 10px
	.port-scanner
		button[type=submit]
			margin-bottom: 30px
	.share-page
		min-height: 100%
		margin-bottom: 0
	.main.share
		h1
			margin-bottom: 30px
	.main
		&.share
			h1
				&.active
					margin-bottom: 30px
// Small devices (landscape phones, less than 768px)
@media only screen and (max-width : 767px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	.header
		height: 100%
		padding-bottom: 10px
		padding-top: 10px
		.row
			flex-direction: column
	.header__logo
		margin: 0 auto 10px
	.header__authorization
		margin: auto
	.header__title
		h1
			font-size: 30px
			margin-top: 40px
	.header__autorization-dropdown
		top 50%
		left 50%
		transform translate(-50%,9%)
	[off-canvas*=left]
		width: 255px
	.react
		h2
			font-size: 20px
	.file_wrap
		input
			width: 80%
	.white-popup
		width: 100%
		padding: 20px 10px 20px 10px
		textarea
			min-height: 80px
	.main__setting-up-a-proxy-in-the-browser
		margin-bottom: 20px
	.main__proxy-list
		margin-bottom: 30px
	.main__table-wrap
		overflow: auto
		margin-bottom: 20px
		table
			width: 700px
			margin-bottom: 16px
			thead
				tr
					th
						font-size: 14px
	.main__scroll-table
		display: block
		position: absolute
		bottom: -15px
		left: 0
		i
			margin-left: 10px
			color $main_color
			animation arrow-right 0.5s infinite alternate
	.your-ip__numbers
		font-size: 30px
	.proxy-checker__download-scan-results-item
		margin-bottom: 10px
// Extra small devices (portrait phones, less than 700px)
@media only screen and (max-width : 700px)// Extra small devices (portrait phones, less than 576px)
	.share-page__social-item
		margin-right: 0
		padding-left: 15px
		padding-right: 15px
	.share-page__social-inner
		align-items: center
		justify-content: center
@media only screen and (max-width : 575px)
	/**/
	.share-page__social-item
		padding-left: 10px
		padding-right: 10px
	.share-page__social-item-counter
		width: 22px
		height: 22px
		font-size: 11px
	.share-page__social-item-circle
		width: 22px
		height: 22px
		i
			font-size: 11px
// Extra small devices (portrait phones, less than 521px)
@media only screen and (max-width : 520px)
	/**/
	.white-popup
		width: 100%
		padding: 20px 10px 20px 10px
	.white-popup
		input[type=submit]
			width: 100%
// Extra small devices (portrait phones, less than 481px)
@media only screen and (max-width : 480px)
	/**/
	.header__title
		h1
			padding-left: 15px
			padding-right: 15px
			font-size: 23px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px
	.footer__item-nav
		flex-direction: column
	.main__pagination .pagination li a.active
		font-size: 12px
	.your-ip__btn
		button
			min-width 270px
	.hide-ip-table__table-wrap
		overflow: auto

		margin-bottom: 10px
		table
			width: 500px
	.hide-ip-table__scroll-table
		display: block
		margin-bottom: 10px
		i
			margin-left: 10px
			color $main_color
			animation arrow-right 0.5s infinite alternate
	.hide-ip-table__bottom-info-block-btn-wrap
		button
			min-width: 100%
	.port-scanner__test-results-wrap
		padding: 10px

/* Custom */
@media only screen and (max-width : 380px)
	/**/
	.main__pagination
		.pagination
			li
				margin-bottom: 15px
				a.active
					font-size: 10px
	.looking-for-stable-personal-proxies__btn
		button
			min-width 270px
	.security-and-anonymity
		button
			min-width 270px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width : 576px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/



