/*==========  Desktop First Method  ==========*/
@media only screen and (min-width : 1199px) and (max-height : 685px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: #000000
@media only screen and (max-width : 1199px) and (max-height : 666px)
	.mfp-close-btn-in
		.mfp-close
			top: 10px
			i
				color: #000000
// Large devices (desktops, less than 1399)
@media only screen and (max-width : 1399px)
	.header__dropdown
		top: 20px
		right: 100%
		left: 0
		transform: translate(-50px, 0px)
// Large devices (desktops, less than 1200px)
@media only screen and (max-width : 1199px)
	/**/
	// для фиксированного сайта
	// body
	// 	width: 1200px
	.proxy-checker__enter-the-proxy-list-textarea
		width: 70%
	.browser-details__inner
		&.scroll-table
			width: 660px
		&.hide-ip
			width: 270px
	.hide-ip-table__your-location
		padding-left: 15px
	.share-page.title_long
		min-height: 100%
		margin-bottom: 0
	.main.proxy-checker .main__title.main__title_long
		max-width 100%
	.header__modal
		margin-top: 20px
	.intermediate
		.intermediate_wrap
			margin-bottom: 20px
			.modal_form_input_wrap
				display: inline-block
	.footer
		nav
			margin-right: auto
	.header__logo
		width: 165px
		img
			max-width: 100%
			height: auto
	.header__nav
		ul
			li
				a
					font-size: 14px
					margin-right: 20px
	.main__proxy-list
		flex-wrap wrap
		dl.last
			margin-left: inherit
	.main__btn-wrap
		button
			min-width 100%
		&.personal
			button
				min-width: 90%
	.main__filter-divider
		width: 100%
	.main__filter-type
		align-items: flex-start
	.main__table-wrap
		&.proxy-checker-table
			overflow: auto
			table
				width: 1170px
	.hide-ip-table__scroll-table
		&.proxy-checker-table
			display: block
			margin-bottom: 10px
			i
				margin-left: 10px
				color $main_color
				animation arrow-right 0.5s infinite alternate
	.main__filter--default
		flex-wrap wrap
		h4
			width: 100%
			margin-bottom: 5px
	.main__filter-type
		.check
			&:last-of-type
				margin-right: 0
	.main__top-select
		.select2-wrap
			margin-right: 10px
	.select2-container--default
		.select2-results__option
			padding-left: 10px
		.select2-selection--single
			padding-left: 10px
	.main__setting-up-a-proxy-in-the-browser-items-link > a
		width: 150px
		margin-right: 15px
		margin-bottom: 10px
		&:not(:first-of-type)
			width: 150px
			margin-right: 15px
			margin-bottom: 10px

	.main__setting-up-a-proxy-in-the-browser-items
		flex-direction: column
	.main__proxy-list
		justify-content: center
		dl
			margin-bottom: 15px
	.main__top-select-wrap
		margin-right: 25px
	.hide-ip-table__table-wrap
		width: calc(50% - 15px)
	.your-ip__inner
		width: calc(50% - 15px)
	.proxy-checker__download-scan-results-title
		width: 100%
// Medium devices (tablets, less than 992px)
@media only screen and (max-width : 991px)
	/**/
	h1
		font-size: 30px
	.proxy-checker__enter-the-proxy-list-textarea
		margin-bottom: 0
	.browser-details__table-wrap table tbody tr td:first-of-type
		padding-top: 6px
		padding-bottom: 6px
	.hide-ip-table__table-wrap
		width: calc(60% - 15px)
		table
			tbody
				font-size: 14px
				td
					&:first-of-type
						font-size: 16px
	.browser-details__inner
		&.scroll-table
			width: calc(100% - 30px)
			padding-left: 25px
		&.hide-ip
			width: calc(100% - 30px)
			margin-left: 15px
			padding-bottom: 25px
			padding-left: 30px
	.hide-ip-table__your-location
		padding-left: 15px
	.your-ip__inner
		width: calc(40% - 15px)
		padding: 20px 25px
	.your-ip__numbers
		font-size: 40px
	.your-ip__btn button
		min-width: 225px
	.main__filter--default
		margin-bottom: 15px
	.main__txt-img
		margin-bottom: 40px
	.main__setting-up-a-proxy-in-the-browser-items-link
		justify-content: space-around
	.main__setting-up-a-proxy-in-the-browser-items-link > a
		margin-right: 5px
		margin-left: 5px
		&:last-of-type
			margin-right: 5px
			margin-left: 5px
		&:not(:first-of-type)
			margin-right: 5px
			margin-left: 5px
	.header
		height: 100px
	.header__nav
		display: none
	.header__bot-nav
		display: none
	.header__gray-divider
		display: none
	#sticky-wrapper
		display: none
	.header
		.row
			height: 100%
			&.mt-a
				display: none
	.header__logo
		display: block
	.header__authorization
		margin-left: auto
	nav[canvas]
		display: block
	.dig-dns-wrap .port-scanner__btn
		margin-bottom: 30px
	.port-scanner__test-results-wrap
		&.port-scanner-wrap
			min-height 100%
			max-height: 300px
		&.IP-ping-wrap
			min-height 100%
			max-height: 300px
		&.dig-dns-block
			min-height 100%
			max-height: 300px
	.footer
		.select2-wrap
			width: 270px
	.main__update-proxy-list
		margin-bottom: 30px
	.proxy-checker__enter-the-proxy-list
		textarea
			margin-bottom: 20px
	.proxy-checker__test-results-items
		button
			min-width: 270px
	.proxy-checker__test-results-title
		margin-bottom: 15px
	.proxy-checker__test-results-item
		margin-bottom: 10px
	.proxy-checker__download-scan-results-title
		margin-bottom: 10px
	.share-page
		min-height: 100%
		margin-bottom: 0
	.main.share
		h1
			margin-bottom: 30px
	$bg_sections = #f8fcff
	.main
		background: $bg_sections
		&.share
			h1
				&.active
					margin-bottom: 30px
	.info-blocks,.answer-your-questions,.why-our-proxies-are-better,.info-blocks
		background: $bg_sections
	.main__table-wrap
		table
			thead
				tr
					th
						font-size: 15px
						&:first-of-type
							padding: 19.5px 10px
			tbody
				font-size: 15px
				td:first-of-type
					padding: 19.5px 10px
		.progress-bar
			width: 65px
			height: 16px
			i
				font-size: 14px
	.info-blocks__item
		margin-bottom: 15px
	.info-blocks__item-txt-block
		font-size: 16px
	.main__top-select
		&.fps-filter-country
			margin-bottom: 15px
	.your-ip
		padding-top: 30px
	.proxy-checker__test-results-items
		flex-wrap wrap
		.last
			margin-left: 0
	nav[canvas]
		top: 30px
// Small devices (landscape phones, less than 768px)
@media only screen and (max-width : 767px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

	nav[canvas]
		top: 15px
	.proxy-checker__enter-the-proxy-list-textarea
		width: 60%
	.proxy-checker__enter-the-proxy-list-check-list .check span
		font-size: 14px
	.hide-ip-table__table-wrap
		width: 100%
		margin-right: 15px
		margin-left: 15px
	.your-ip__inner
		width: 100%
		margin-right: 15px
	.info-blocks .row
		background: none
	.header
		height: 100%
		padding-bottom: 10px
		padding-top: 10px
		.row
			flex-direction: column
	.header__logo
		margin: 0 auto 10px
	.header__authorization
		margin: auto
	.header__title
		h1
			font-size: 30px
			margin-top: 40px
	.header__autorization-dropdown
		top 50%
		left 50%
		transform translate(-50%,9%)
	.port-scanner__btn
		flex-wrap wrap
	[off-canvas*=left]
		width: 255px
	.port-scanner__test-results-wrap
		&.port-scanner-wrap
			min-height 100%
			max-height: 260px
		&.IP-ping-wrap
			min-height 100%
			max-height: 260px
		&.dig-dns-block
			min-height 100%
			max-height: 260px
	.file_wrap
		input
			width: 80%
	.white-popup
		width: 100%
		padding: 20px 10px 20px 10px
		textarea
			min-height: 80px
	.port-scanner__btn .info
		padding-top: 5px
	.main__setting-up-a-proxy-in-the-browser
		margin-bottom: 20px
	.main__proxy-list
		margin-bottom: 30px
	.main__table-wrap
		overflow: auto
		margin-bottom: 20px
		table
			width: 730px
			overflow: hidden
			margin-bottom: 0
			thead
				tr
					th
						font-size: 14px
			tbody
				font-size: 14px
		.progress-bar i
			font-size: 14px
	.main__scroll-table
		margin-top: 30px
		display: block
		i
			margin-left: 10px
			color $main_color
			animation arrow-right 0.5s infinite alternate
	.your-ip__numbers
		font-size: 30px
	.proxy-checker__download-scan-results-item
		margin-bottom: 10px
	.main__filter
		margin-bottom: 20px
	.browser-details__table-wrap
		overflow: auto
		table
			width: 700px
	.hide-ip-table__scroll-table
		&.browser-details__scroll-table
			display: block
			padding-left: 0
			i
				color: $main_color
				animation arrow-right 0.5s infinite alternate
// Extra small devices (portrait phones, less than 700px)
@media only screen and (max-width : 700px)// Extra small devices (portrait phones, less than 576px)
	.share-page__social-item
		margin-right: 0
		padding-left: 15px
		padding-right: 15px
	.share-page__social-inner
		align-items: center
		justify-content: center
@media only screen and (max-width : 575px)
	/**/

	.main__filter-title
		flex-direction: column
		align-items: flex-start
		.main__filter--default
			margin-right: 0
			margin-left: 0
			&.filter-title
				margin-right: 0
				flex-direction column
	.share-page__social-item
		padding-left: 10px
		padding-right: 10px
	.share-page__social-item-counter
		width: 22px
		height: 22px
		font-size: 11px
	.share-page__social-item-circle
		width: 22px
		height: 22px
		i
			font-size: 11px
	.why-our-proxies-are-better h2
		font-size: 20px
		line-height: 1.3
// Extra small devices (portrait phones, less than 521px)
@media only screen and (max-width : 520px)
	/**/
	.white-popup
		width: 100%
		padding: 20px 10px 20px 10px
	.white-popup
		input[type=submit]
			width: 100%
// Extra small devices (portrait phones, less than 481px)
@media only screen and (max-width : 480px)
	/**/
	.proxy-checker__enter-the-proxy-list-textarea
		width: 100%
	.proxy-checker__enter-the-proxy-list
		padding: 20px 0 0 20px
	.proxy-checker__enter-the-proxy-list-btn
		width: calc(100% + 20px)
		margin-left: -20px
		padding: 20px 0 5px 20px
		.main_btn2
			margin-bottom: 15px
	.why-our-proxies-are-better
		h2
			font-size: 19px
			line-height: 1.2
		p
			font-size: 15px
	.footer
		nav
			font-size: 14px
			ul li.w200
				width: 170px
	.main__filter-anonymity-inner
		flex-wrap wrap
	.main__proxy-list
		flex-direction: column
		align-items: center
		font-size: 15px
		dl
			margin-right: 0
			margin-bottom: 10px
			a
				height: 18px
				font-size: 15px
	.main__setting-up-a-proxy-in-the-browser-items-link > a span
		width: 40px
		height: 40px
	.header__title
		h1
			padding-left: 15px
			padding-right: 15px
			font-size: 23px
	.intermediate
		.intermediate_title
			h3
				font-size: 20px
	.footer__item-nav
		flex-direction: column
	.main__pagination .pagination li a.active
		font-size: 12px
	.your-ip__btn
		button
			min-width 100%
	.hide-ip-table__table-wrap
		overflow: auto

		margin-bottom: 10px
		table
			width: 500px
	.hide-ip-table__scroll-table
		display: block
		margin-bottom: 10px
		i
			margin-left: 10px
			color $main_color
			animation arrow-right 0.5s infinite alternate
	.hide-ip-table__bottom-info-block-btn-wrap
		button
			min-width: 100%
	.port-scanner__test-results-wrap
		padding: 10px

/* Custom */
@media only screen and (max-width : 380px)
	/**/
	.main__pagination
		.pagination
			li
				margin-bottom: 15px
				a.active
					font-size: 10px
	.looking-for-stable-personal-proxies__btn
		button
			min-width 270px
	.security-and-anonymity
		button
			min-width 270px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width : 576px)
	/**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/



