@import "../libs/bootstrap.min.css"
@import "_vars.styl"
@import "../libs/magnific-popup.css"
@import "../libs/tooltipster-follower.min.css"
@import "../libs/tooltipster.bundle.min.css"
@import "../libs/tooltipster.main.min.css"
@import "../libs/font-awesome.min.css"
@import "../libs/anim-modal.css"
@import "../libs/slidebars.min.css"
@import "../libs/select2.min.css"
@import "../libs/jquery.mCustomScrollbar.min.css"

html
	&.modal
		margin-right: 12px !important
html, body
	font-size: 16px
	&.flex-footer
		height: 100%
	&.slidebars
		width: 100%
		overflow: hidden !important

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body
	margin: 0
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $font_Circe-Regular
	overflow-x: hidden
	color: $main_txt_color
	background: #f8fcff url(../img/strip-bg.png) center 110px repeat
	-webkit-tap-highlight-color: transparent
	//внешний вид скроллбара
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		width: 12px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: transparent
//-webkit-font-smoothing: antialiased
//-moz-osx-font-smoothing: grayscale

h1
	font($main_txt_color, 50, $font_Circe-ExtraBold)
h2
	font($main_txt_color, 22, $font_Circe-Bold)
h3
	font($main_txt_color, 20, $font_Circe-Bold)
p,ul
	padding: 0
	margin: 0
li
	list-style: none

.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
// html .loader
// 	background: none repeat scroll 0 0 #ffffff
// 	bottom: 0
// 	height: 100%
// 	left: 0
// 	position: fixed
// 	right: 0
// 	top: 0
// 	width: 100%
// 	z-index: 9999
// 	.loader_inner
// 		background-image: url("../img/preloader.gif")
// 		background-size: cover
// 		background-repeat: no-repeat
// 		background-position: center center
// 		background-color: #fff
// 		height: 60px
// 		width: 60px
// 		margin-top: -30px
// 		margin-left: -30px
// 		left: 50%
// 		top: 50%
// 		position: absolute
// Общие стили на select2
.select2-wrap
	width: 100%
.select2-container--default
	&.select2-container--open
		.select2-selection--single
			.select2-selection__arrow
				b
					border-color: transparent transparent #3e3e3e transparent
	.select2-selection--single
		border-radius: 15px
		outline-color: transparent
		transition: border 0.5s
		&:hover
			border: 1px solid $main_color
		&:active
			border: 1px solid $main_color
		&:focus
			border: 1px solid $main_color
		.select2-selection__arrow
			b
				border-color: #3e3e3e transparent transparent transparent
				left: 0
.select2-container--default .select2-search--dropdown .select2-search__field
	&:hover
		outline-color: $main_color
	&:active
		outline-color: $main_color
	&:focus
		outline-color: $main_color
.select2-container--default .select2-selection--single
	font-size: 14px
	border-radius: 4px
	line-height: 27px
	padding-left: 20px
	outline-color: transparent
	&:hover
		outline-color: transparent
	&:active
		outline-color: transparent
	&:focus
		outline none
		outline-color: transparent
.select2-container--default .select2-results__option
	height: 28px
	transition: 0.3s
	font-size: 14px
	padding-left: 28px
	span
		truncate(100%)
		display: inline-block
.select2-container--default .select2-results__option--highlighted[aria-selected]
	background-color: $main_color
.select2-container--default .select2-results>.select2-results__options
	//внешний вид скроллбара
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		width: 5px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: lighten($main_color, 60%)
.hidden
	display: none
.img-purse
	width inherit
	height: 100%
	padding-top: 10px
	padding-bottom: 10px
// Модальное окно
.white-popup
	width: 570px
	margin: auto
	max-width: 50em
	padding: 30px
	background-color: #f6f6f6
	text-align: left
	font-size: 14px
	position: relative
	transition: 0.5s
	.modal-title
		margin-bottom: 30px
		font($main_txt_color, 20, $font_Circe-Bold, 1.4)
	.modal-paragraph
		margin-bottom: 30px
	p
		font-family: $font_Circe-Bold
		margin-bottom: 15px
	&#popup-success
		p.success_mail
			display: block
		.mfp-close
			display: none
	&.popup2
		.input_wrap
			margin-bottom: 5px
		.select2-wrap
			margin-bottom: 20px
		input[type=submit]
			width inherit
			min-width 330px
			margin: auto
			display: block
		.select2-wrap__purse
			margin-bottom: 30px
			.select2-container .select2-selection--single
				height: 50px
				border-radius: 25px
			.select2-container--default .select2-selection--single .select2-selection__arrow
				top 24%
			.select2-container--default .select2-selection--single .select2-selection__rendered
				line-height: 48px
			.select2-container--open .select2-dropdown--below
				border-radius: 25px
			.select2-container--default .select2-results>.select2-results__options
				border-radius: 25px
			.select2-container--default .select2-results__option
				height: 50px
				display: flex
				align-items: center
	&#popup3
		width: inherit
		padding: 0
		border: none
		background-color: transparent
		ul
			padding: 0
		li
			list-style: none
			a
				font-size: 30px
				color: #fff
		.mfp-close
			display: none
	.input_wrap
		position: relative
		display: block
		i
			display: none
			position: absolute
			top: 15px
			right: 16px
			fz(14)
			color: #35be70
	label
		margin-bottom: 7px
		margin-left: 5px
		text-align: left
		display: block
		font-family: $font_Circe-Regular
		fz(14)
		color: $main_txt_color
		&.active
			color: $main_color
	input
		width: 100%
		height: 40px
		margin-bottom: 15px
		padding-left: 20px
		padding-right: 37px
		color: #3a4763
		fz(14)
		font-family: $font_Circe-Regular
		border: 1px solid #cdcdcd
		background-color: #ffffff
		border-radius: 5px
		transition: 1s
		&:focus
			outline: 0
	textarea
		width: 100%
		min-height: 100px
		margin-bottom: 10px
		padding-left: 20px
		padding-right: 37px
		color: #3a4763
		fz(14)
		border: 1px solid #cdcdcd
		background-color: #ffffff
		border-radius: 5px
		transition: 1s
		&:focus
			outline: 0
	.success_mail
		font($main_color, 24, $font_Circe-Regular, 1.1)
		display: none
		&.active
			display: block
	input[type=submit]
		margin-bottom: 0
		padding-left: 0
		padding-right: 0
		cursor: pointer
		@extend .main_btn
		&:focus
			outline: 0
	.select2-wrap
		margin-bottom: 15px
.mfp-zoom-in.mfp-ready.mfp-bg
	opacity: 0.7
.mfp-bg
	background: rgba(11, 11, 11, 0.46)
.mfp-close-btn-in .mfp-close
	position: absolute
	right: 10px
	top: -30px
	display: block
	color: transparent
	transition: top 0.5s
	&:hover i
		color: $main_color
	i
		color: #ffffff
		transition: color 0.5s
		fz(18)
	&:hover
		outline: 0
	&:active
		outline: 0
	&:focus
		outline: 0
// конец модального
// для формы normal обёртка и иконка success
.input_wrap
	position: relative
	display: block
	i
		display: none
		position: absolute
		top: 15px
		right: 16px
		font-size: 14px
		color: #35be70
#form-file
	.file_wrap
		margin-bottom: 20px

// Бутерброд
.no-touch #nav-button-label
	&:hover .nav-line
		background: $main_bg_color
.touch #nav-button-label
	&:active .nav-line
		background: $main_bg_color
#nav-button-label
	height: 35px
	width: 50px
	transition: .4s
	margin-top: 6px
	cursor: pointer
	position: relative
	z-index: 1002
	pointer-events: all

.nav-on .nav-line:first-child,
.nav-on .nav-line:last-child
	transition: .5s
	width: 0
	opacity: 0
	left: 50%
	top: 11px
.nav-on
	#nav-button-label
		.nav-line
			margin: 0
	.nav-line
		&:nth-child(2)
			-webkit-transition: .5s
			-o-transition: .5s
			transition: .5s
			-webkit-transform: rotate(45deg)
			-ms-transform: rotate(45deg)
			-o-transform: rotate(45deg)
			transform: rotate(45deg)
		&:nth-child(3)
			-webkit-transition: .5s
			-o-transition: .5s
			transition: .5s
			-webkit-transform: rotate(-45deg)
			-ms-transform: rotate(-45deg)
			-o-transform: rotate(-45deg)
			transform: rotate(-45deg)
label
	display: inline-block
	max-width: 100%
	margin-bottom: 5px
	font-weight: 700

.nav-line
	display: block
	height: 3px
	background: $main_color
	position: absolute
	left: 0
	width: 100%
	transition: 2s
	&.active
		background: $main_color
	&:nth-child(2)
		-webkit-transition: .5s
		-o-transition: .5s
		transition: .5s
		top: 14px
	&:nth-child(1)
		-webkit-transition: .5s
		-o-transition: .5s
		transition: .5s
		top: 0
	&:nth-child(4)
		-webkit-transition: .5s
		-o-transition: .5s
		transition: .5s
		top: 28px
	&:nth-child(3)
		-webkit-transition: .5s
		-o-transition: .5s
		transition: .5s
		top: 14px
// Пример checkbox
label.check, label.radio
	display: inline-flex
	align-items: center
	cursor: pointer
	font-size: 14px
	user-select: none
	margin: 0
	.fa-1
		color: $main_color
	.fa-2
		color: $main_color
	i
		width: 11px
		display: inline-flex
		margin-right: 6px
	span
		display: inline-flex
		font-size: 14px
	input[type=checkbox],
	input[type=radio]
		display: none
		&:not(:checked)  ~ .fa-2
			display: none
		&:checked + i
			&.fa-1
				display: none
			&.fa-2
				display: inline-flex
// внешний вид табов и анимация
.tabs-items-wrap
	margin-bottom: 10px
.tabs-item
	&.active
		background-color: #fff
		border: 1px solid $main_color
		color: $main_color
.tabs-wrap
	display: none
	padding: 20px
	background-color: rgba(255, 255, 255,0.5)

.tabs-wrap.active
	display: block
	animation: fade-bot
	animation-duration: 0.7s

.tabs-wrap-inner
	display: none
	padding: 20px

.tabs-wrap-inner.active
	display: block
	animation: fade
	animation-duration: 0.7s
	animation-delay: 0.3s
	animation-fill-mode: backwards

@keyframes fade
	from
		opacity: 0
	to
		opacity: 1
@keyframes fade-out
	from
		opacity: 1
	to
		opacity: 0
		visibility hidden
@keyframes fade-bot
	from
		opacity: 0
		transform: translateY(20px)
	to
		opacity: 1
		transform: translateY(0)

// Оформление слайдбара
[canvas]
	transform: inherit
[off-canvas]
	transition: transform 0.4s
	overflow: auto
	-webkit-overflow-scrolling: touch
	background-color: #f6f6f6
[off-canvas*=left]
	width: 255px
[canvas=container]
	background-color: transparent
	-webkit-tap-highlight-color: transparent
	&.flex
		display: flex
		flex-direction: column
		height: 100%
		//внешний вид скроллбара
		scrollbar-base-color: $main_color   //для IE
		scrollbar-arrow-color: $main_color	//для IE
		//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
		&::-webkit-scrollbar
			width: 12px
		&::-webkit-scrollbar-thumb
			background-color: $main_color
			&:hover
				background-color: darken($main_color, 10%)
		&::-webkit-scrollbar-track-piece
			background-color: transparent
nav[canvas]
	position: fixed	
	top: 20px
	left: 20px
	display: none
	z-index: 100
[class*=js-open-], [class*=js-toggle-], [class*=js-close-]
	cursor: pointer
[off-canvas]
	ul
		&.menu
			margin: 0
			padding: 20px 10px 10px 20px
			display: block
			list-style: none
			li
				margin-bottom: 5px
				a
					color: $main_txt_color

// Header
.header
	width: 100%
	height: 90px
	display: flex
	align-items: center
	background-color: #fff
	box-shadow: 0px 10px 25px 0px rgba(208, 208, 208,0.9)
	position: relative
	z-index: 10
	.row
		align-items: center
.header__logo
	display: inline-block
	margin-left: 15px
	font-family: $font_Circe-ExtraBold
	a
		color: $main_txt_color
		text-decoration: none
		&:hover
			text-decoration: none
		&:active
			text-decoration: none
		&:focus
			text-decoration: none

	img
		padding-right: 10px
.header__nav
	display: inline-block
	position: relative
	margin-left: auto
	ul
		li
			margin-bottom: 5px
			position: relative
			list-style: none
			display: inline-block
			&:last-of-type
				margin-bottom: 0
			&:last-of-type a
				margin-right: 0
			&:hover > i.fa
				transform rotate(180deg)
			&:hover > .header__dropdown
				visibility visible
				opacity: 1
				pointer-events all
			i.fa
				margin-left: 9px
				font-size: 14px
				color: $main_color
				transition transform 0.4s
			a
				margin-right: 30px
				color: $main_txt_color
				fz(16)
				font-family: $font_Circe-Bold
				position: relative
				text-decoration: none
				transition: color .5s
				&:hover
					color: $main_color
					text-decoration: none
				&:active
					color: $main_color
					text-decoration: none
				&:focus
					color: $main_color
					text-decoration: none
.header__dropdown
	min-width: 130px
	padding: 10px
	visibility hidden
	opacity: 0
	pointer-events none
	position: absolute
	border-radius: 4px
	background-color: white
	top: 20px
	left: 0
	box-shadow: 0px 10px 29.37px 3.63px rgba(4, 74, 103, 0.09)
	z-index: 100
	transition: 0.3s
	li
		a
			font-size: 15px
//.header__authorization
//	position: relative
//	a
//		color $main_color
//		font-family: $font_Circe-Bold
//		transition: 0.3s
//		position: relative
//		&:hover
//			text-decoration: none
//			color: $main_txt_color
//		&:active
//			text-decoration: none
//			color: $main_txt_color
//		&:focus
//			text-decoration: none
//			color: $main_txt_color
//		&:hover:after
//			transform scale(0)
//		&:after
//			content: ""
//			display: block
//			position: absolute
//			top: 23px
//			left: 0
//			width: 100%
//			height: 2px
//			transform scale(1)
//			background-color: $main_color
//			transition: .5s
//.header__autorization-dropdown
//	width: 280px
//	min-height: 185px
//	padding: 20px 10px
//	position: absolute
//	bottom: -200px
//	right: 0
//	background-color: white
//	border: 1px solid #e0e0e0
//	border-radius: 5px
//	font-size: 14px
//	transition: 0.5s
//	animation: fade-out
//	animation-duration: 0.5s
//	animation-fill-mode: forwards
//	&.header__autorization-dropdown--active
//		animation: fade
//		animation-duration: 0.5s
//	.title
//		margin-bottom: 10px
//		font-family: $font_Circe-Bold
//	.input_wrap
//		margin-bottom: 10px
//		i
//			top: 8px
//	input
//		width: 100%
//		height: 30px
//		padding-left: 10px
//		line-height: 28px
//		border: 1px solid #d6d6d6
//		transition: 0.5s
//		&:hover
//			outline: 0
//		&:active
//			outline: 0
//			border: 1px solid $main_color
//		&:focus
//			outline: 0
//			border: 1px solid $main_color
//
//	button
//		min-width: 100%
// Секция main
.main
	background: $bg_sections
	padding-top: 45px
	padding-bottom: 70px
	&.share
		padding-top: 55px
		h1
			margin-bottom: 30px
			transition: margin 0.5s
			//&.active
			//	margin-bottom: 50px
@keyframes table-ip-check
	from
		transform rotate(0deg)
	to
		transform rotate(360deg)
.share-page
	display: flex
	flex-direction: column
	flex-wrap: wrap
	padding-left: 15px
	padding-right: 15px
	position: relative
	z-index: 1
.share-page__link
	display: flex
	align-items: center
	margin-bottom: 8px
	a
		text-decoration: underline
		font-size: 14px
		color: $main_color
		&:hover
			text-decoration: none
		&:active
			text-decoration: none
		&:focus
			text-decoration: none
	i
		margin-right: 6px
		font-size: 12px
		color: $main_color
.share-page__social
	display: none
.share-page__social-inner
	display: flex
	flex-wrap: wrap
.share-page__social-item
	display: flex
	margin-right: 20px
	margin-bottom: 10px
	&:last-of-type
		margin-right: 0
.share-page__social-item-counter
	min-width: 22px
	height: 22px
	margin-right: 10px
	padding-left: 3px
	padding-right: 3px
	position: relative
	display: flex
	align-items: center
	justify-content: center
	background-color: #f6f6f6
	border: 1px solid  rgb(205, 205, 205)
	font-size: 12px
	&:after
		content: ""
		display: block
		position: absolute
		width: 6px
		height: 10px
		right: -6px
		top: 6.5px
		background: url(../img/share-page__social-item-counter-triangle.jpg) center top no-repeat
.share-page__social-item-circle
	width: 22px
	height: 22px
	border-radius: 50%
	background-color: $main_txt_color
	border: 1px solid transparent
	transition: border, background-color , 0.5s
	&:hover a i
		color: $main_txt_color
	&:hover
		background-color: #fff
		border: 1px solid $main_color
		text-decoration: none
	&:active
		background-color: #fff
		border: 1px solid $main_color
		text-decoration: none
	&:focus
		background-color: #fff
		border: 1px solid $main_color
		text-decoration: none

	a
		width: 100%
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		text-decoration: none
		transition: 0.5s
		&:hover
			text-decoration: none
		&:active
			text-decoration: none
		&:focus
			text-decoration: none

	i
		font-size: 13px
		color: #fff
		transition: color 0.5s
.main__table-wrap
	margin-bottom: 30px
	//внешний вид скроллбара
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		height: 10px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: #e0e0e0
	&.port-scanner
		&> p
			margin-bottom: 20px
			font-family: $font_Circe-Bold
	table
		width: 100%
		&.proxy-checker-table
			margin-bottom: 16px
			tbody
				tr
					td
						height: 67px
						padding: 13px 10px
		a
			color $main_color
			transition: 0.5s
			text-decoration underline
			&:hover
				text-decoration: none
			&:active
				text-decoration: none
			&:focus
				text-decoration: none
		&.port-scanner-table
			.row
				margin-right: 0
				margin-left: 0
				align-items: center
				border-bottom: 1px solid whitesmoke
			tbody,thead
				display: block
			tbody
				height: 290px
				overflow: auto
				//внешний вид скроллбара
				scrollbar-base-color: $main_color   //для IE
				scrollbar-arrow-color: $main_color	//для IE
				//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
				&::-webkit-scrollbar
					width: 9px
				&::-webkit-scrollbar-thumb
					background-color: $main_color
					&:hover
						background-color: darken($main_color, 10%)
				&::-webkit-scrollbar-track-piece
					background-color: #e0e0e0
				td
					border-bottom: none
		thead
			background: transparent
			font-size: 16px
			font-family $font_Circe-Bold
			tr
				background-color: #f9fafc;
				box-shadow: 0px 5px 15px 0px rgba(208,208,208,0.9)
				th
					text-align: center
					padding: 10px
					&.anonim
						width: 20%
		tbody
			font-size: 14px
			tr
				background-color: #f2f7fb
				transition: 0.5s
				cursor: pointer
				&:nth-of-type(even)
					background-color: #f9fafc
				&:last-of-type
					td
						border-bottom: none
				&:hover
					background: #ffffff
					box-shadow: 0px 5px 15px 0px rgba(208,208,208,0.9)
			td
				text-align: center
				padding: 19.5px 10px
				border-bottom: 1px solid whitesmoke
				line-height: 1.5
				&.table-password
					div
						width: 110px
						word-wrap: break-word
				&.check
					a
						text-decoration: none
						margin-left: 10px
						&:hover i
							animation: table-ip-check 0.5s infinite linear
							animation-fill-mode: none
						i
							font-size: 16px
							transform-origin: 50% 50%
				.copy-buffer
					width: 186px
					height: 37px
					opacity: 0
					visibility: hidden
					line-height: 34px
					background-color: white
					border: 1px solid #e0e0e0
					border-radius: 5px
					position: absolute
					bottom: -40px
					left: 30px
					color: $main_txt_color
					box-shadow: 0px 5px 15px 0px rgba(208,208,208,0.9)
					transition: 0.5s
					z-index: 0
					&:hover
						box-shadow: 0px 0px 0px 0px rgba(208,208,208,0.9)
					&:after
						content: ""
						display: block
						position: absolute
						top: -5px
						width: 100%
						height: 5px
					i
						margin-right: 3px
					span
						width: 270px
						padding-left: 10px
						padding-right: 10px
						border: 1px solid #e0e0e0
						border-radius: 5px
						background-color: #ffffff
						position: absolute
						top: -20px
						left: 0
						opacity: 0
						visibility hidden
						transition: 0.5s
						z-index: 30
					&.active span
						top: -35px
						opacity: 1
						visibility visible
				i
					&.fa
						color: $main_color
				&.country
					img
						margin-right: 7px
				&.ip
					a
						text-decoration none
						position: relative
						color $main_txt_color
						z-index: 1
						display: inline-block
						&:after
							content: ""
							display: block
							position: absolute
							bottom: 1px
							left: 0
							width: 100%
							height: 1px
							border-bottom: 1px dashed $main_txt_color
							transition: 0.5s
							z-index: -1
						&:hover:after
							border-bottom: 1px dashed $main_color
						&:hover
							color $main_color
							text-decoration: none
							z-index: 10
							.copy-buffer
								color: $main_txt_color
								left: 0
								opacity: 1
								visibility: visible
						&:active
							color $main_color
							text-decoration: none
							outline 0
						&:focus
							color $main_color
							text-decoration: none
							outline 0
	.progress-bar {
		text-align: left
		background-color: #f5f5f5;
		height: 20px;
		width: 100px;
		margin: auto
		border-radius: 5px;
		box-shadow: 0 1px 1px #ccc, 0 1px 0 #444;
		position: relative;
		span {
			text-align: center
			display: inline-block;
			height: 100%;
			border-radius: 3px;
			box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
			transition: width .4s ease-in-out;
		}
		i {
			color: #000;
			font-style: normal;
			position: absolute
			top: calc(50% - 10px)
			left: calc(50% - 18px)
		}
		&.blue span {
			background-color: #34c2e3;
		}

		&.orange span {
			background-color: #fecf23;
			background-image: linear-gradient(to top, #fecf23, #fd9215);
		}

		&.green span {
			background-color: #a5df41;
			background-image: linear-gradient(to top, #a5df41, #4ca916);
		}
		&.stripes span {
			background-size: 30px 30px;
			background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
			transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
			transparent 75%, transparent);

			animation: animate-stripes 3s linear infinite;
		}
	}

@keyframes animate-stripes {
	0% {background-position: 0 0;}
	100% {background-position: 60px 0;}
}
.main__update-proxy-list
	text-align: center
	a
		text-decoration underline
		color $main_color
		transition 0.5s
		&:hover
			color $main_txt_color
		&:active
			color $main_txt_color
		&:focus
			color $main_txt_color
.main__pagination
	text-align: center
	margin-bottom: 20px
	.pagination
		li
			display: inline-block
			margin-right: 3px
			&:last-of-type
				margin-right: 0
			a
				font-size: 14px
				border-radius: 13px
				background-color: #f4f4f6
				color: $main_txt_color
				padding: 3px 8.5px
				text-decoration: none
				transition: 0.5s
				&.active
					text-decoration: none
					background-color: $main_color
				&:hover
					text-decoration: none
					background-color: $main_color
				&:active
					text-decoration: none
					background-color: $main_color
				&:focus
					text-decoration: none
					background-color: $main_color
			.ellipsis
				font-size: 14px
				padding: 3px 8.5px
				background-color: #f2f2f2
				color: $main_txt_color
.main__title
	margin-bottom: 15px
.main__txt-img
	margin-bottom: 130px
	position: relative
	p
		font-size: 18px
	.no-relative
		position: static
.main__img-robot
	position: absolute
	top: -160px
	right: 0
.main__setting-up-a-proxy-in-the-browser
	padding: 15px 20px
	display: flex
	flex-direction: column
	background-color: #ffffff
	& > p
		margin-bottom: 15px
		fz(22)
		font-family: $font_Circe-Bold
.main__setting-up-a-proxy-in-the-browser-items
	display: flex
	align-items: center
.main__setting-up-a-proxy-in-the-browser-items-link
	display: flex
	flex-wrap wrap
	& > a
		margin-right: 30px
		display: inline-flex
		align-items: center
		color: $main_txt_color
		text-decoration none
		font-size: 14px
		&:not(:first-of-type)
			width: 170px
		&:last-of-type
			margin-right: 0
		&.active i
			transform scale(0.8)
			filter grayscale(100%)
		&.big i
			transform scale(1.2)
		span
			width: 45px
			height: 45px
			margin-right: 7px
			display: inline-flex
			align-items: center
			justify-content: center
			border-radius: 50%
			background-color: $main_color
			box-shadow: 0px 9px 9.4px 0.6px rgba(4, 74, 103, 0.19)
	i
		display: inline-block
		transition: 0.5s
		&.google
			sprite($google)
		&.firefox
			sprite($firefox)
		&.safari
			sprite($safari)
		&.opera
			sprite($opera)
		&.yandex
			sprite($yandex)
.main__setting-up-a-proxy-in-the-browser-wrap
	margin-bottom: 40px
.main__setting-up-a-proxy-in-the-browser-link
	margin-left: auto
	margin-right: auto
	display: flex
	color: $main_color
	font-size: 14px
	text-align: center
	font-family $font_Circe-Bold
	text-decoration: none
	&:hover
		color: $main_color
		text-decoration underline
	&:active
		color: $main_color
		text-decoration underline
	&:focus
		color: $main_color
		text-decoration underline
.main__proxy-list
	margin-bottom: 35px
	display: flex
	fz(18)
	position: relative
	dl
		display: flex
		align-items: center
		margin-right: 30px
		margin-bottom: 0
		&.last
			margin-left: auto
			margin-right: 0
			a
				background-color: $main_color
				color: $main_bg_color
			dt
				font-family $font_Circe-Bold
		a
			height: 21px
			padding: 0 19px
			background-color: $main_bg_color
			color: $main_color
			font-family: $font_Circe-ExtraBold
			font-size: 18px
			display: inline-flex;
			align-items: center;
			box-shadow: 0px 9px 9.4px 0.6px rgba(4, 74, 103, 0.19)
			border-radius: 10px
			transition: 0.5s
			&:hover
				color: $main_bg_color
				background-color: $main_txt_color
				text-decoration: none
			&:active
				background-color: $main_txt_color
				color: $main_bg_color
				text-decoration: none
			&:focus
				background-color: $main_txt_color
				color: $main_bg_color
				text-decoration: none
		dt
			margin-right: 7px
		dd
			margin-bottom: 0
.main__scroll-table
	display: none
@keyframes arrow-right
	from
		margin-left: 10px
	to
		margin-left: 20px
img.img-flag
	width: 18px
	height: 15px
	display: inherit!important
	margin: 0!important
	margin-right: 5px!important
	margin-top: -3px!important;
.main__filter-title
	display: flex
	align-items: center
	margin-bottom: 15px
	font-size: 20px
	font-family: $font_Circe-Bold
	.main__filter--default
		margin-left: auto
		&.filter-title
			flex-direction: row
			margin-bottom: 0
			h4
				width auto
				margin-bottom: 0
				margin-right: 20px
.main__filter
	margin-bottom: 40px
	padding: 20px
	background-color: #ffffff
	border: 1px solid #e0e0e0
	form
		display: flex
		align-items: flex-start
		flex-wrap wrap
	.main__btn-wrap
		margin-right: 30px
		button
			min-width: 170px
.main__top-select-title
	font-size: 16px
	font-family: $font_Circe-Bold
.main__top-select
	display: flex
	flex-direction: column
	button
		width: 32px
		height: 30px
		background: #fff
		border: 1px solid #d6d6d6
		border-radius: 15px
		transition: 0.5s
		&:hover i
			color #0e0e0e
		&:active i
			color #0e0e0e
		&:focus i
			color #0e0e0e
		&:hover
			outline: 0
			border: 1px solid $main_color
			background: $main_color
		&:active
			outline: 0
			border: 1px solid $main_color
			background: $main_color
		&:focus
			outline: 0
			border: 1px solid $main_color
			background: $main_color

		i
			color $main_color
			font-size: 14px
			transition: 0.5s
	.select2-wrap
		width: 220px
		margin-right: 30px

.main__filter--default
	margin-right: 30px
	display: flex
	flex-direction column
	flex-wrap wrap
	font-size: 14px
	h4
		margin: 0 0 8px 0
		font-family: $font_Circe-Bold
		font-size: 16px
.main__filter-type
	align-items: flex-start
	.check
		margin-right: 10px
	i.fa
		margin-right: 10px
.main__filter-anonymity-inner
	display: flex
	label
		margin-right: 10px
	i.fa
		margin-right: 10px
.main__filter-link-items
	display: flex
.main__filter-link-item
	margin-right: 30px
	&:last-of-type
		margin-right: 0
	a
		color $main_txt_color
		text-decoration underline
		&:hover
			color $main_color
		&:active
			color $main_color
		&:focus
			color $main_color
.main__btn-wrap
	margin-bottom: 10px
	&.personal
		display: flex
		align-items: center
		button
			min-width: 300px
			margin-right: 10px
		i
			font-size: 14px
			color $main_color
			cursor: pointer
.main__clean-the-filter
	width: 34px
	height: 34px
	border: 1px solid transparent
	background-color: $main_color
	box-shadow: 0px 9px 9.4px 0.6px rgba(4, 74, 103, 0.19)
	border-radius: 50%
	transition: border 0.5s, background 0.5s
	&:hover
		border: 1px solid $main_color
		background-color: $main_bg_color
	a
		width: calc(100% + 1px)
		height: calc(100% + 1px)
		display: inline-flex
		align-items: center
		justify-content: center
		font-size: 16px
		color $main_bg_color
		text-decoration none
		&:hover
			text-decoration none
			color: $main_color
		&:active
			text-decoration none
			color: $main_color
		&:focus
			text-decoration none
			color: $main_color
		i
			margin-top: -2px
			transition: 0.5s
.main__subscribe-to-update-filter
	text-align: center
	margin-bottom: 20px
	a
		font-size: 14px
		color $main_color
		text-decoration underline
		&:hover
			color: $main_txt_color
		&:active
			color: $main_txt_color
		&:focus
			outline 0
			color: $main_txt_color
.main__filter-divider
	width: 330px
	height: 1px
	margin: 0 auto 15px
	border: 1px dashed #d6d6d6
.main__filter-info
	margin-bottom: 20px
	font-size: 14px
	i
		margin-right: 10px
		color $main_color
.main__filter-info.info-attention
	display: flex
// Секция .info-blocks
.info-blocks
	background-color: $bg_sections
	padding-bottom: 40px
.info-blocks__item
	margin-bottom: 30px
	&:last-of-type
		margin-bottom: 0
.info-blocks__item-txt-block
	min-height: 53px
	padding-top: 10px
	padding-bottom: 10px
	display: flex
	align-items: center
	padding-left: 10px
	font-size: 14px
	background-color: white
	border: 1px solid #e0e0e0
	border-radius: 5px
	i
		flex-shrink 0
		margin-right: 5px
		color $main_color
.info-blocks__btn
	height: 100%
	display: flex
	align-items: center
	button
		min-width 100%
//	Секция .answer-your-questions
.answer-your-questions
	padding-top: 40px
	padding-bottom: 40px
	background-color: $bg_sections
	h2
		margin-bottom: 30px
.accordion {
	margin-bottom: 30px;
	&:last-of-type {
		margin-bottom: 0
	}
}
.accordion_title {
	min-height: 37px;
	border: 1px solid #e0e0e0;
	border-bottom none;
	border-radius: 5px
	padding-left: 10px;
	padding-right: 30px
	cursor: pointer;
	display: flex;
	align-items: center
	background-color: #fff;
	position: relative;
	color: $main_txt_color;
	box-shadow: 0px 15px 25px 0px rgba(208,208,208,0.9);
	transition: box-shadow 0.5s, background 0.5s, border-radius 0.5s;
	&:hover {
		background-color: #f6f6f6
	}
	&.active {
		border-bottom-left-radius 0
		border-bottom-right-radius 0
		box-shadow: 0px 0px 0px 0px rgba(208,208,208,0.9)
	}
	i {
		margin-right: 5px
		font-size: 14px
		color: $main_color;
	}
	p {
		font-size: 14px
		padding-top: 5px
		padding-bottom: 5px
	}
}
.accordion_title span {
	position: absolute;
	top: calc(50% - 9px);
	right: 10px;
}
.accordion_title span i {
	font-size: 14px
	color: $main_color;
	transform-origin: 50% 50% 0px;
	transition: 0.5s;
}
.accordion_title span.active i {
	transform: rotate(180deg)
}
// у контента ни в коем случае не ставим transition: all , он начнёт выезжать дёргаясь, ибо мы перехватываем плавность
.accordion_content {
	display: none;
	background-color: #fff;
	position: relative
	border: 1px solid #e0e0e0
	border-top: none
	box-shadow: 0px 0px 0x 0px rgba(208,208,208,0.9)
	z-index: 10
	transition: box-shadow 0.5s
	&.active {
		box-shadow: 0px 15px 25px 0px rgba(208,208,208,0.9)
	}
}
.accordion_content p{
	line-height: 1.5
	color: lighten($main_txt_color, 60%)
	font-size: 14px
	margin: 0;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 20px;
}

//	Секция  .why-our-proxies-are-better
.why-our-proxies-are-better
	padding-top: 40px
	padding-bottom: 40px
	background-color: $bg_sections
	&.proxy-checker
		ul
			li
				text-indent: 20px
	h2
		margin-bottom: 25px
	p
		margin-bottom: 15px
		font-size: 14px
	ul
		margin-bottom: 15px
		font-size: 14px
		i
			display: inline
			margin-top: -2px
			margin-right: 10px
			font-size: 10px
			color: $main_color
			position: relative
			top: -1px
//	Секция your-ip
.your-ip
	padding-top: 35px
	padding-bottom: 35px
	text-align: center
	background: #fff url(../img/your-ip__bg.png) center top no-repeat
.your-ip__wrap
	display: flex
	align-items: center
	justify-content: center
	margin-bottom: 30px
	i
		font-size: 17.5px
		color: $main_color
		cursor: pointer
		transition: 0.5s
		&:hover
			color: $main_txt_color
.your-ip__title
	margin-bottom: 20px
	font-size: 17.5px
	font-family: $font_Circe-Bold
.your-ip__numbers
	margin-right: 20px
	font-size: 50px
	font-family: $font_Circe-Bold
	color: #161616
//	Секция .hide-ip-table
.hide-ip-table
	padding-top: 35px
	padding-bottom: 35px
	background: #fff
	.title
		margin-bottom: 15px
		font-size: 16px
		font-family: $font_Circe-Bold
.hide-ip-table__table-wrap
	margin-bottom: 40px
	//внешний вид скроллбара
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		height: 10px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: lighten($main_color, 60%)
	table
		width: 100%
		border: 1px solid #e0e0e0
		tbody
			font-size: 14px
			font-family $font_Circe-Regular
			td
				padding: 17px 30px
				border-bottom: 1px solid #e0e0e0
				&:first-of-type
					width: 170px
					padding: 17px 20px
					background-color: #f6f6f6
					font-size: 16px
					border: none
					font-family $font_Circe-Bold
					box-shadow: 5px 0px 15px 0px rgba(208,208,208,0.9)
					position: relative
					&:after
						content: ""
						display: block
						position: absolute
						bottom: 0
						left: 0
						width: 100%
						height: 8px
						background: #f6f6f6
						z-index: 10
				i
					width: 20px
					display: inline-block
					margin-right: 10px
.hide-ip-table__your-location
	padding: 20px
	background: #f6f6f6
	p
		font-size: 14px
		margin-bottom: 17px
	.hide-ip-table__your-location-title
		font-size: 16px
		font-family $font_Circe-Bold
		margin-bottom: 20px
.hide-ip-table__your-location-map
	margin-bottom: 25px
	text-align: center
.hide-ip-table__your-location-btn
	button
		min-width: 100%
.hide-ip-table__bottom-info-block
	padding: 10px 10px 20px 10px
	background-color: white
	border: 1px solid #e0e0e0
	border-radius: 5px
.hide-ip-table__bottom-info-block-txt-wrap
	display: flex
	font-size: 14px
	i
		margin-right: 5px
		margin-top: 2px
		color $main_color
		flex-shrink 0
	p
		margin-bottom: 15px
		&.margin-bottom
			margin-bottom: 30px
.hide-ip-table__bottom-info-block-btn-wrap
	text-align: center
.hide-ip-table__scroll-table
	display: none
//	Секция .main__title.proxy-checker
.main
	&.proxy-checker
		.main__title
			margin-bottom: 10px
			&.main__title_long
				max-width: 56%
// Блок proxy-checker
.proxy-checker__list
	margin-bottom: 40px
	p
		margin-bottom: 20px
	ul
		padding-left: 30px
		li
			i
				margin-right: 10px
				font-size: 10px
				color $main_color
.proxy-checker__in-which-format-to-add-a-proxy
	display: flex
	padding: 10px
	margin-bottom: 40px
	background-color: white
	border: 1px solid #e0e0e0
	border-radius: 5px
	i
		margin-right: 5px
		color $main_color
		flex-shrink 0
.proxy-checker__in-which-format-to-add-a-proxy-txt
	.title
		margin-bottom: 20px
	b
		font-weight normal
		font-family: $font_Circe-Bold
		color #0e0e0e
	.margin-bottom
		margin-bottom: 20px
// блок proxy-checker__enter-the-proxy-list
.proxy-checker__enter-the-proxy-list
	margin-bottom: 60px
	font-size: 14px
	textarea
		width: 100%
		height: 142px
		padding-top: 20px
		padding-left: 20px
		border: 1px solid #e0e0e0
		transition: 0.5s
		&:hover
			outline: 0
		&:active
			outline: 0
			border: 1px solid $main_color
		&:focus
			outline: 0
			border: 1px solid $main_color

	button
		min-width 270px
	form
		&>.row
			margin-bottom: 30px
.proxy-checker__enter-the-proxy-list-title
	margin-bottom: 20px
	font-family: $font_Circe-Bold
.proxy-checker__enter-the-proxy-list-check-title
	margin-right: 30px
	font-family: $font_Circe-Bold
.proxy-checker__enter-the-proxy-list-check
	display: flex
.proxy-checker__enter-the-proxy-list-check-list
	display: flex
	flex-direction: column
	.check
		margin-bottom: 15px
// блок proxy-checker__test-results
.proxy-checker__test-results
	font-size: 14px
	dl
		display: flex
		margin: 0
		dt
			margin-right: 5px
		dd
			margin: 0
		span
			font-family: $font_Circe-Bold
			&.workers
				color #019315
			&.not-workers
				color #ae0025
.proxy-checker__test-results-title
	font-family: $font_Circe-Bold
.proxy-checker__test-results-items
	margin-bottom: 30px
	button
		min-width 100%
	.last
		margin-left: auto
.proxy-checker__test-results-item
	display: flex
	align-items: flex-end

//блок .proxy-checker__download-scan-results
.proxy-checker__download-scan-results
	margin-bottom: 0
	.row
		align-items: center
.proxy-checker__download-scan-results-title
	font-size: 16px
	font-family: $font_Circe-Bold
.proxy-checker__download-scan-results-item
	img
		margin-right: 10px
	a
		font-size: 14px
		color: $main_txt_color
		text-decoration: none
		transition: 0.5s
		&:hover
			color: $main_color
			text-decoration: none
		&:active
			text-decoration: none
		&:focus
			text-decoration: none

//	Секция .looking-for-stable-personal-proxies
.looking-for-stable-personal-proxies
	padding-top: 35px
	padding-bottom: 35px
	background-color: #f6f6f6
	text-align: center
	h2
		margin-bottom: 40px
.looking-for-stable-personal-proxies__btn
	text-align: center
//	Секция security-and-anonymity
.security-and-anonymity
	padding-top: 35px
	padding-bottom: 35px
	background: #f6f6f6 url(../img/your-ip__bg.png) center top no-repeat
	text-align: center
	h2
		margin-bottom: 40px

// Блок .port-scanner__
.port-scanner
	margin-bottom: 35px
	&.flex
		display: flex
	&.mb10
		margin-bottom: 10px
	&.mb60
		margin-bottom: 60px
	form
		overflow: hidden
.proxy-checker__list
	padding-left: 20px
	margin: 0 0 35px
	li
		&:before
			content: ""
			display: inline-block
			width: 9px
			height: 9px
			margin-right: 10px
			position: relative
			top: -1px
			background-color: $main_color
			border-radius: 50%
.dig-dns-wrap
	height: 100%
	&.IP-traceroute-wrap
		.port-scanner__enter-the-IP-address-or-domain
			margin-bottom: 18px
		.port-scanner__btn
			flex-direction: column
			button
				margin-right: 0
		.btn-info
			margin-bottom: 8px
			color: #616060
			font-size: 12px
	.port-scanner__enter-the-IP-address-or-domain
		height initial
		margin-bottom: 30px
		.dig-dns-wrap--title
			margin-bottom: 10px
			font-family $font_Circe-Bold
		label
			font-family: $font_Circe-Regular
		input
			margin-bottom: 10px
			&.mb5
				margin-bottom: 5px
.port-scanner__enter-the-IP-address-or-domain
	height: 100%
	padding: 30px 20px
	border: 1px solid #e0e0e0
	.main__filter--default
		margin-bottom: 15px
		flex-direction: column
		align-items: self-start
		h4
			margin-bottom: 5px
	.proxy-type-checks
		display: flex
	label
		display: block
		font-size: 16px
		font-family: $font_Circe-Bold
		margin-bottom: 8px
		a
			margin-bottom: 0
	input
		width: 100%
		height: 30px
		padding-left: 20px
		margin-bottom: 5px
		border: 1px solid #d6d6d6
		&:hover
			outline: 0
		&:active
			outline: 0
			border: 1px solid $main_color
		&:focus
			outline: 0
			border: 1px solid $main_color
	a
		display: inline-block
		margin-bottom: 25px
		font-size: 14px
		text-decoration underline
		color: $main_color
		transition: color 0.4s
		&.gray
			color: #888888
			&:hover
				color: $main_color
		&:hover
			color: $main_txt_color
			text-decoration: none
		&:active
			text-decoration: none
		&:focus
			outline: 0
			text-decoration: none
	.mt25
		margin-top: 25px
	.port-scanner__btn
		button
			min-width 100%
.port-scanner__test-results
	height: 100%
	display: flex
	flex-direction: column
	padding: 30px 20px 45px
	border: 1px solid #e0e0e0
	.title
		font-family: $font_Circe-Bold
		margin-bottom: 5px
.port-scanner__btn
	display: flex
	align-items: center
	button
		min-width: 370px
		margin-right: 30px
	.info
		font-size: 14px
.port-scanner__test-results-wrap
	overflow: auto
	padding: 20px
	background-color: #f6f6f6
	&.port-scanner-wrap
		min-height 100%
		max-height: 138px
	&.IP-ping-wrap
		min-height 100%
		max-height: 247px
	&.dig-dns-block
		min-height 100%
		max-height: 284px
	&.speed-test
		min-height 100%
		max-height: 552px
	//внешний вид скроллбара
	scrollbar-base-color: $main_color   //для IE
	scrollbar-arrow-color: $main_color	//для IE
	//внешний вид скроллбара для -webkit- остальное тут https://poselab.com/en/blog/custom-scrollbars-in-webkit/
	&::-webkit-scrollbar
		width: 5px
	&::-webkit-scrollbar-thumb
		background-color: $main_color
		&:hover
			background-color: darken($main_color, 10%)
	&::-webkit-scrollbar-track-piece
		background-color: #e0e0e0
	p
		font-size: 14px
.NS-or-domain-info
	margin-bottom: 25px
	font-size: 12.5px
	a
		margin: 0
		font-size: 12px
		&.main_txt
			color: $main_txt_color
			&:hover
				color: $main_color
				text-decoration: none
			&:active
				color: $main_color
				text-decoration: none
			&:focus
				text-decoration: none

//	Секция стилей от программиста бек енд
.fps-proxy-settings-item-icon {
	width: 22px;
	height: 22px;
}

.main__table-wrap table tbody td.check a.fps-anim-icon i {
	-webkit-animation: table-ip-check .5s infinite linear;
	animation: table-ip-check .5s infinite linear;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none;
}
//	Секция


// Секия footer 
.footer
	padding-top: 35px
	padding-bottom: 35px
	background-color: #ffffff
	nav
		font-size: 14px
		margin-right: 40px
		&:last-of-type
			margin-right: 0
		ul
			width: 170px
			li
				margin-bottom: 15px
				a
					color $main_txt_color
					transition: 0.5s
					&:hover
						color $main_color
						text-decoration: none
					&:active
						text-decoration: none
					&:focus
						outline: 0
						text-decoration: none

.footer__item-title
	.title
		margin-bottom: 5px
		font-size: 16px
		font-family: $font_Circe-Bold
.footer__item-divider
	height: 2px
	margin-bottom: 15px
	background-color: #f0c654
.footer__item-nav
	display: flex

// чтобы отображались svg иконки от fontawesome
svg:not(:root).svg-inline--fa
	overflow: visible
.svg-inline--fa
	display: inline-block
	font-size: inherit
	height: 1em
	overflow: visible
	vertical-align: -0.125em
.svg-inline--fa.fa-lg
	vertical-align: -0.225em
.svg-inline--fa.fa-w-1
	width: 0.0625em
.svg-inline--fa.fa-w-2
	width: 0.125em
.svg-inline--fa.fa-w-3
	width: 0.1875em
.svg-inline--fa.fa-w-4
	width: 0.25em
.svg-inline--fa.fa-w-5
	width: 0.3125em
.svg-inline--fa.fa-w-6
	width: 0.375em
.svg-inline--fa.fa-w-7
	width: 0.4375em
.svg-inline--fa.fa-w-8
	width: 0.5em
.svg-inline--fa.fa-w-9
	width: 0.5625em
.svg-inline--fa.fa-w-10
	width: 0.625em
.svg-inline--fa.fa-w-11
	width: 0.6875em
.svg-inline--fa.fa-w-12
	width: 0.75em
.svg-inline--fa.fa-w-13
	width: 0.8125em
.svg-inline--fa.fa-w-14
	width: 0.875em
.svg-inline--fa.fa-w-15
	width: 0.9375em
.svg-inline--fa.fa-w-16
	width: 1em
.svg-inline--fa.fa-w-17
	width: 1.0625em
.svg-inline--fa.fa-w-18
	width: 1.125em
.svg-inline--fa.fa-w-19
	width: 1.1875em
.svg-inline--fa.fa-w-20
	width: 1.25em