extends ../base
block title
	| Index page
block main
	// Секция main
	section.main
		.container
			.main__title
				h1 Бесплатные прокси сервера онлайн
				p
					| Прокси-сервер – это, ваш посредник в сети, выполняющий целый ряд задач и делающий ваши интернет-путешествия более свободными и
					| защищёнными. В вашем распоряжении есть список бесплатных прокси серверов, а так же услуга персональных прокси, что является нашей
					| основной деятельностью.
			.row.main__setting-up-a-proxy-in-the-browser-wrap
				.col-xl-5
					.main__setting-up-a-proxy-in-the-browser
						span Настройка прокси в браузере:
						.main__setting-up-a-proxy-in-the-browser-items
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.google
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.firefox
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.safari
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.opera
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.yandex
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.ie
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.android
							a(href="#" title="Инструменты → Настройки → Дополнительно → Сеть → Настроить → Ручная настройка")
								i.pc
				.col-xl-3
					a(href="#" class="main__setting-up-a-proxy-in-the-browser-link") Другие способы настройки
			.main__proxy-list
				dl
					dt.
						Рабочих прокси:
					dd
						a(href="#") 256
				dl
					dt.
						Анонимных:
					dd
						a(href="#") 256
				dl
					dt.
						Sock5:
					dd
						a(href="#") 256
				dl
					dt.
						HTTP:
					dd
						a(href="#") 256
				dl
					dt.
						HTTPS:
					dd
						a(href="#") 256
				dl.last
					dt.
						Прокси в базе:
					dd
						a(href="#") 256

			.row
				.col-xl-8
					.main__table-wrap
						table
							thead
								th
									| IP
								th
									| Port
								th
									| Страна
								th
									| Тип
								th.anonim
									| Анонимность
									| Скорость
								th
									| Проверка
							tbody
								td
									a(href="#") 164.132.199.54
								td
									img(src=require("../../img/imgport.png"))
								td.country
									img(src=require("../../img/flag_ukraine.jpg"))
									| Азербaйджан
								td
									a(href="#") HTTP
								td
									| Анонимный
									.progress
										// для примера просто картинку вставил
										img(src=require("../../img/progress.jpg"))
								td
									| 3 мин. назад
									i.fa.fa-repeat
				.col-xl-4
					.main__filter

	// Секция main_content
	section.main_content
		.container
			div Пример checkbox
			label.check.noselect
				input(type='checkbox')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span первый чек
			label.check.noselect
				input(type='checkbox')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span второй чек
			div Пример radio button
			label.radio.noselect
				input(type='radio', name='radio')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span первый чек
			label.radio.noselect
				input(type='radio', name='radio', checked='')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span второй чек
			h3 Пример Select на плагине Select2
				h4 с тегами
				.select2-container
					select.select2-tags.form-control(multiple)
						option angular
						option react
						option vui
						option(disabled) ember
						option backbone
				h4 обычный
				.select2-container
					select.select2
						option angular
						option react
						option vui
						option(disabled) ember
						option backbone



