extends ../base
block title
	| speed-test
block main
	// Секция main
	section.main.proxy-checker
		.container
			.main__title.main__title_long
				h1 Проверить скорость прокси, скорость доступа к сайту через прокси, проверка скорости через proxy
			.proxy-checker__list
				ul
					li
						i.fa.fa-circle
						| Определение скорости передачи данных через HTTP и SOCKS прокси
					li
						i.fa.fa-circle
						| Возможность определения скорости загрузки страниц сайта напрямую
					li
						i.fa.fa-circle
						| Проверка доступа к сайту
			.port-scanner-wrap
				form.row.port-scanner.flex
					.col-lg-4
						.dig-dns-wrap.IP-traceroute-wrap
							.port-scanner__enter-the-IP-address-or-domain
								label(for="enter-the-test-speed") Введите адрес сайта для проверки скорости
								input(id="enter-the-test-speed")
								label(for="enter-the-proxy-speed-format")
									| Адрес прокси в формате
									|
									a(href="#")  127.0.0.1:8080
								input(id="enter-the-proxy-speed-format" class="mb5")
								.NS-or-domain-info
									p Для теста скорости передачи данных через прокси введите адрес и порт прокси сервера. Для обычного теста скорости загрузки страниц сайта оставьте это поле пустым
								.main__filter-type.main__filter--default
									h4 Тип прокси сервера
									.proxy-type-checks
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square
											span HTTP
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square
											span SOCKS 4
										label.check.noselect
											input(type='checkbox')
											i.fa.fa-1.fa-square-o
											i.fa.fa-2.fa-check-square
											span SOCKS 5
								label Таймаут
								select(class="select2 select2-modal")
									option(selected) 15 сек
									option 20 сек
								label.mt25 Режим проверки скорости
								select(class="select2 select2-modal")
									option(selected) Быстро
									option Очень быстро
								label.mt25 Проверить доступ к сайту
								select(class="select2 select2-modal")
									option(selected) Да
									option Нет

					.col-lg-8
						.port-scanner__test-results
							p.title
								| Результаты проверки:
							.port-scanner__test-results-wrap.speed-test
								p
									| Not shown: 999 filtered ports
								p
									| PORT     STATE SERVICE
								p
									| 3389/tcp open  ms-term-serv
								p
									| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
								p
									| Not shown: 999 filtered ports
								p
									| PORT     STATE SERVICE
								p
									| 3389/tcp open  ms-term-serv
								p
									| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
								p
									| Not shown: 999 filtered ports
								p
									| PORT     STATE SERVICE
								p
									| 3389/tcp open  ms-term-serv
								p
									| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
								p
									| Not shown: 999 filtered ports
								p
									| PORT     STATE SERVICE
								p
									| 3389/tcp open  ms-term-serv
								p
									| Nmap done: 1 IP address (1 host up) scanned in 20.38 seconds
				.row.port-scanner.flex
					.col-lg-12
						.port-scanner__btn
							button(class="main_btn2" type="submit") Проверить
							p.info
								i
									img(src=require("img/icon-info.svg"))
								| Проверка доступа и скорости может занять некоторое время

	// Секция security-and-anonymity
	section.security-and-anonymity
		.container
			h2 VPN — ваша безопасность и анонимность в интернете
		.security-and-anonymity__btn
			button(type="button" class="main_btn2") Подробнее
	// Секция why-our-proxies-are-better
	section.why-our-proxies-are-better.proxy-checker
		.container
			h2 Подробнее о IP traceroute.
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.