@import "../../stylus/_vars.styl"

.main-content
	&.anonymity-tool
		width: 1190px
		.main
			padding-bottom: 0
		.main__title
			margin-bottom: 50px
			display: flex
			align-items: center
			justify-content: center
			h1
				margin-bottom: 0
				font-size: 40px
				line-height: 30px
				font-family: $font_Circe-Bold
			a
				margin-left: 12px
// media
@import '../../stylus/_media.styl'
